repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: check-ast
      - id: check-json
      - id: pretty-format-json
        args: ["--indent", "4"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.12.5
    hooks:
      - id: ruff-check
        args: [ --fix ]
  - repo: https://github.com/psf/black
    rev: "23.12.0"
    hooks:
      - id: black
