# Red itself is also a requirement, however it is not listed here because
# some people may have special setups (eg dev version installed)

# Required by EnkaNetwork.py
pydantic
aiohttp
cachetools

# Cogs
gidgethub  # ghissues, gitub
pillow  # genshinutils
genshin  # genshinutils
enkanetwork  # genshinutils
aioenkanetworkcard  # genshinutils
fernet  # genshinutils

# checking tools
pyright
black
isort
flake8
pytest
tox
pre-commit

# checks
python-dotenv
